body{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

 /*Header*/


header div#barraArriba{
    position: fixed!important; 
    background-color: white!important;
    z-index: 70;
}

#menuNormal{
    display: inline;
    margin-left: 9vw;
    margin-top: 5vh;
    
}




#menuHamburguesa{
    width: 40vw;

}

header {
    padding-right: 0vw!important;
    padding-left: 0vw;
    padding: 0vw;
    box-shadow: 0vw 0vw 2vw 0vw rgba(255, 255, 255, 0.76);
}

header img#fotologo {
    width: 25%;
    margin-right: 15vw;
    }

header img#fotousuario {
   width: 5.5vw;
    align-self: center;
    margin-right: 25vw;
    margin-left: 2vw;
    }

    #menuCostado{
        background: white;
        padding-top: 2vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;
        right: -30vw;
        transition: right .3s linear;
        z-index: 100;
        border-left: 3px solid #dbf249;
       
    }

    #menuCostado #home{
        color: black;
        font-weight: bold;
        font-size: 2vw;
        border: none;
        background-color: #dbf249;
        width: 20vw;
        padding: 1vh 2vw;
        text-align: center;
        margin-left: 0vw;
        margin-top: 5vh;
        color: #58632c;
        border-radius: 2vw;
        
    }
    #menuCostado #home:hover{
        text-decoration: none;
        color:#dbf249;
        background-color:#58632c8a ;
    }
    


    #tituloDietas{
        font-size: 2vw;
        margin-top: 4vh;
        font-weight: bolder;
        align-self: center;
        margin-left: 3vw;
        color: #58632c;
        text-align: left;
        padding-right: 10vw;
    }
   
    
    #menuCostado #nombreDietas p{
        width: 20vw;
        font-size: 2vw;
        margin-bottom: 1vh ;
        border-bottom: 2px solid #abc120;
        padding: 0.5vh 0vw;
        padding-right: 5vw;
        color: #58632c ;
        font-weight: normal;
        text-align: left;

    }
    #menuCostado #nombreDietas p:hover{
        color: #abc120 ;
        cursor: pointer;
        font-weight: bold;
    }
    


 /*Footer*/

footer {
    display: flex;
    justify-content: center;
    background-color: black;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 1vh;
    height: 10vh;
}

footer img {
    height: 1.5vh!important;
    margin-right: 1vw;
    align-self: center;
}

footer p{
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px){
   

 /*Header*/


 header div#barraArriba{
    position: fixed!important; 
    background-color: white!important;
    z-index: 70;
    display: flex;
    justify-items: center;
}

#menuNormal{
    display: inline;
    margin-left: 0vw;
    margin-top: 0vh;
    
}

#menuNormal a{
    display: none;
}


#menuHamburguesa{
    display: block;
    width: 50vw;

}

#menuHamburguesa img {
    width: 45%!important;

}


header img#fotologo {
    width: 30%;
    margin-right: 10vw;
    }

header img#fotousuario {
   width: 10vw;
    align-self: center;
    margin-left: 2vw;
    margin-right: 12vw;
    }


     /*Footer*/

    footer {
        display: flex;
        background-color: black;
        margin-right: 0vw;
        margin-left: 0vw;
    }
}

    
 
     
  

