body{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

 /*Header*/


header {
    position: fixed!important; 
    background-color: white!important;
    z-index: 70;
	box-shadow: 0vw 0vw 1vw 0vw rgba(230, 214, 214, 0.849);
	display: flex;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 1vw;
    width: 100%;
    height: 22vh;
}

#menuNormal{
    display: inline;
    margin-left: 9vw;
    margin-top: 5vh;
}





#menuHamburguesa{
    width: 5vw;
    background-position: center;
    background-size: cover;
    height: 5vw;

}



header #fotologo img {
    width: 100%;
    }

 header #fotologo{
     width: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
     }



header img#fotousuario {
   width: 8vw;
    }

    

    #imagenTineraryusuarioLogueado, #dropdownToggle{
    align-self: center;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0vw 0vw 1vw 0.1vw black;
    border: 1px solid white;
    margin-left: 4vw!important;
    margin-top: 6vh!important;
}

#dropdownToggle{
    background-color: white;
    border: 2px solid #abc120!important;
}

header #imagenTinerarysinfoto{
    background-color: none;
    border: 2px solid #abc120!important;
    border-radius: 100%!important;
    margin-bottom: -3vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    width:900px!important;
}

#dropdownToggle{
    align-self: center;
    border-radius: 100%;
    display: flex;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-right: -6vw;
    width: 8vw;
    height: 8vw;
}



    #menuCostado{
        position: absolute;
        position: fixed!important; 
        background: white;
        padding-top: 2vh;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        right: -40vw;
        transition: right .3s linear;
        z-index: 100;
        border-left: 3px solid #dbf249;
       
    }

    #menuCostado .home{
        color: black;
        font-weight: bold;
        font-size: 1em;
        border: none;
        background-color: #dbf249;
        width: 20vw;
        padding: 1vh 2vw;
        text-align: center;
        margin-left: 0vw;
        margin-top: 5vh;
        color: #58632c;
        border-radius: 2vw;
        
    }
    #menuCostado #home:hover{
        text-decoration: none;
        color:#dbf249;
        background-color:#58632c8a ;
    }


    #imagenTinerary p{
        color: black!important;
        font-weight: bold;
        text-align: center;
    }
    


    #tituloDietas{
        font-size: 1.4em;
        margin-top: 4vh;
        font-weight: bolder;
        align-self: center;
        margin-left: 2vw;
        color: #58632c;
        text-align: left;
        padding-right: 10vw;
    }
   
    
    #menuCostado #nombreDietas p{
        width: 20vw;
        font-size: 1em;
        margin-bottom: 1vh ;
        border-bottom: 2px solid #abc120;
        padding: 0.5vh 0vw;
        padding-right: 5vw;
        color: #58632c ;
        font-weight: normal;
        text-align: left;

    }
    #menuCostado #nombreDietas p:hover{
        color: #abc120 ;
        cursor: pointer;
        font-weight: bold;
        justify-content: space-between;
    }
    

    #botones{
        display: flex;
        align-items: flex-end;
    }

 /*Footer*/

footer {
    display: flex;
    justify-content: center;
    background-color: black;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 1vh;
    height: 10vh;
}

footer img {
    height: 1.5vh!important;
    margin-right: 1vw;
    align-self: center;
}

footer p{
    color: white;
    text-align: center;
}

@media only screen and (max-width: 800px){
    #imagenTineraryusuarioLogueado, #dropdownToggle{
        margin-top: 5vh;    
        height: 11vw!important;
        width: 11vw!important;
    }
}

@media only screen and (max-width: 600px){
   

 /*Header*/

 #imagenTineraryusuarioLogueado, #dropdownToggle{
    margin-top: 0vh!important;    
    height: 16vw!important;
    width: 16vw!important;
    margin-left: 4vw!important;
}

 
 header #fotologo img {
    width: 100%;
    }

 header #fotologo{
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
     }


     #imagenTineraryusuarioLogueado{
        align-self: center;
        border-radius: 100%;
        display: flex;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0vw 0vw 1vw 0.1vw black;
        border: 1px solid white;
        height: 12vw!important;
        width: 12vw!important;
        margin-left: 2vw;
        margin-top: -2vh;
        margin-right: -3vw;
    }

 header {
    position: fixed!important; 
    background-color: white!important;
    z-index: 70;
	box-shadow: 0vw 0vw 1vw 0vw rgba(230, 214, 214, 0.849);
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 6vw;
    
}





#menuHamburguesa{
    width: 8vw;
    background-position: center;
    background-size: cover;
    height: 8vw;

}



header img#fotologo {
    width: 39%;
    margin-right: 5vw;

    }

header img#fotousuario {
   width: 10vw;
    }

    #imagenTinerary p{
        color: black!important;
        font-weight: bold;
        text-align: center;
    }

   




    #menuCostado{
        position: fixed!important; 
        background: white;
        padding-top: 2vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;
        right: -80vw;
        transition: right .3s linear;
        z-index: 100;
        border-left: 3px solid #dbf249;
       
    }

    #menuCostado button {
        margin-top: 2vh;
    }


    #menuCostado #home{
        color: black;
        font-weight: bold;
        font-size: 1em;
        border: none;
        background-color: #dbf249;
        width: 80%;
        padding: 1vh 2vw;
        text-align: center;
        margin-left: 0vw;
        margin-top: 5vh;
        color: #58632c;
        border-radius: 20px;
        
    }
    #menuCostado #home:hover{
        text-decoration: none;
        color:#dbf249;
        background-color:#58632c8a ;
    }
    


    #tituloDietas{
        font-size: 1.5em;
        margin-top: 6vh;
        font-weight: bolder;
        align-self: center;
        margin-left: 3vw;
        color: #58632c;
        text-align: left;
        padding-right: 10vw;
    }
	#menuCostado #nombreDietas {
		width: 100%;
		display: flex;
        flex-direction: column;
        margin-left: 15vw;

	}
    
    #menuCostado #nombreDietas p{
        width: 70%;
        font-size: 1em;
        margin: 1vh 0;
        border-bottom: 2px solid #abc120;
        padding: 0.5vh 0vw;
        padding-right: 5vw;
        color: #58632c ;
        font-weight: normal;
        text-align: left;

    }
    #menuCostado #nombreDietas p:hover{
        color: #abc120 ;
        cursor: pointer;
        font-weight: bold;
    }

  


     /*Footer*/

    footer {
        display: flex;
        background-color: black;
        margin-right: 0vw;
        margin-left: 0vw;
    }
    #imagenTinerarysinfoto{
        height: 25vw!important;
        width: 25vw!important;
    }
}


@media only screen and (max-width: 400px){
    header {
       height: 15vh;
    }

    #imagenTineraryusuarioLogueado, #imagenTineraryusuarioLogueado{
        margin-top: 1vh;    
    }

  

}

@media only screen and (min-width: 1200px){
    header {
       height: 27vh;
    }

  

}

 
     
  

