#banner{
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}


#ProfilePic{
    bottom: -10vh;
    right: 7vw;
    position: absolute;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#noProfilePic{
    bottom: -10vh;
    position: absolute;
    right: 7vw;
}
#nameWithNoPic p{
    bottom: -8vh;
    right: 28%;
    position: absolute;
}
#ProfilePic p{
    bottom: -7vh;
    position: absolute;
}
#everything{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #aac144;
    margin-top: 23%;
    height: 18vh;

}
#LeftSide{
    width: 42%;
    margin-top: -15vh;
    margin-left: 3vw;
}
#RightSide{
    width: 58%;
    margin-top: -7vh;
}

#imageFood{
    height: 35vw;
    width: 35vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

#everything .data{
    border-radius: 0vw 0vw 3vw 3vw;
    background-color: #ffffffa9;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.title{
    font-weight: bold;
    color: #59642f;
    font-size: 2vw;
}
#LeftSide #ingredients .title{
    margin-top: 5vh;
}
#LeftSide #ingredients h6{
    margin-left: 28.5vw;
    font-weight: bold;
    font-size: 1.3vw;
}
.ingredientt{
    display: flex;
    width: 35vw;
    align-items: flex-start;
    justify-content: space-between;
}
.ingredientt .TheIngredient{
font-size: 15px;
 width: 27vw;
 background-color: #ffffff;
 box-shadow: 0vw 1vw 2vw 0vw #7c7c7c1e;
 border-radius: 0.5vw;
padding: 0.5vh 1vw;
}
.ingredientt .TheAmount{
    font-size:15px;
    width: 7vw;
    background-color: #ffffff;
    box-shadow: 0vw 2vw 2vw 0vw #7c7c7c18;
    padding: 0.5vh 0.5vw;
    border-radius: 0.5vw;
}
#everything h4{
    font-weight: bold;
}
#icons{
    margin-top: -3vh;
    margin-left: -4vw;
    display: flex;
    height: 8vh;
}

#difficulty{
    margin-top: -15vh;
}
#difficultyImg{
    width: 35%;
}

#allergie{
width: 4vw;
}
#titleDescription{
  margin-top: 5vh;
  margin-left: -2vw;
  display: flex;

}
#titleDescription h2{
    text-align: end;
    font-weight: bold;
    font-size: 2.5vw;
    color: #ffffff;
    padding-right: 1vw;
    border-right: 2px solid #ffffff;
    width: 33vw;
}
#titleDescription p{
    color: #ffffff;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 1vw;
    width: 18vw;
}
#steps{
    margin-top: 15%;
    overflow: hidden;
}
.divRecipeSteps{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 3vh;
}
.RecipeSteps{
    width: 95%;
    font-size: 1.2vw;
    text-align: justify;
}
#viewMoreSteps{
    margin-top: -2vh;
    width: 85%;
    border:none;
    border-radius:  0vw 0vw 0.5vw 0.5vw;;
    background: linear-gradient(to bottom, rgba(182, 201, 94, 0),rgba(181, 201, 94, 0.534));
    padding:0.5vw;
    font-weight: bold;
    font-size: 1.4vw;
    
}
#everythingMovile{
    display: none;
}
#CenterTheButton{
    display: flex;
    justify-content: start;
}
#goBackButton{
    background-color: #aac144;
    margin: 3vh 0vw 1vh 3vw;
    border: none;
    padding: 1% 5%;
    border-radius: 1.5vw;
    color: #ffffff;
}
#goBackButton:hover{
    color: #000000;
    background-color: #aac14483;
    font-weight: bold;
}
#centerIt{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}



@media only screen and (max-width: 800px){
    #banner{
        justify-content: center;
    }
    #ProfilePic{
        right: unset;
    }
    #noProfilePic{
        right: unset;
    }
    #nameWithNoPic p{
        bottom: -8vh;
        right: 30%;
        position: absolute;
    }
  
   
    #everything {
        display: none;  
    }
    #everythingMovile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #titleDescription{
        margin-left: 0vw;
        margin-top: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#aac144;
        padding: 1vh;
        width: 100%;
        min-height: 15vh;
    }
    #titleDescription h2{
        width: 55vw;
        font-size: 1.5em;
        padding-right: 2%;
    }
    #titleDescription p{
        width: 40vw;
        padding-left: 0.5%;
        font-size: 0.7em;
    }
    #imageFood{
        margin-top: 3%;
        width: 60vw;
        height: 60vw;
    }
    #icons{
        margin-top: -1vh;
        margin-left: unset;
        display: flex;
        justify-content: center;
        height: 8vh;
    }
    #allAlergies{
        padding: 1vw;
     
    }
    #allAlergies img{
        width: 9vw;
    }
    #ingredients{
        margin-top: 10%;
        width: 68%;
        margin-bottom: -5vh;
    }
    .ingredientt{
        width: 100%
    }
    .ingredientt .TheIngredient{
         width: 53vw;
         box-shadow: 0vw 1vw 2vw 0vw #7c7c7c2a;
         font-size: 15px;
    }
    .ingredientt .TheAmount{
        width: 12vw;
        box-shadow: 0vw 1vw 2vw 0vw #7c7c7c2a;
        font-size:15px;
    }
    #ingredients   h6{
        margin-left: 56vw;
        font-weight: bold;
        font-size: 15px;
    }
    .title{
        font-size: 1.7em;
    }
    #everythingMovile h4{
        font-weight: bold;
        font-size: 1em;
    }
    #steps .title{
        margin-top: 20%;
        margin-left: 0vw;
    }
    #steps{
        overflow: hidden;
        height: 388px;
        width:68%;
    }
    .divRecipeSteps{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-left: 0vw;
        margin-top: 0vh;
    }
    .RecipeSteps{
        margin-right: 2vw;
        width: 60vw;
        font-size: 0.7em;
        text-align: justify;
    }
    #viewMoreSteps{
        width: 68%;
        border:none;
        border-radius:  0vw 0vw 0.5vw 0.5vw;;
        background: linear-gradient(to bottom, rgba(181, 201, 94, 0.014),rgba(181, 201, 94, 0.329));
        padding:0.8vw;
        padding-top: 2vh;
        font-weight: bold;
        font-size: 1em;
        
    }
    #homeBackgroundThree{
            position: absolute;
            left:  0;
            bottom: 1;
            z-index: -1;
            height: 90%;
    }
    #theComments{
        margin: 20vh 0vw;
    }
    #difficulty{
        margin-top: unset;
        display: flex;
        justify-content: center;
    }
     #difficultyImg{
         width: 40%;
     }
     #everythingMovile .data{
        border-radius: 0vw 0vw 3vw 3vw;
        background-color: #ffffffa9;
        padding: 2vh 2vw;
        display: flex;
        justify-content: space-around;
        width: 100%;
    
    }
    #goBackButton{
        margin-bottom: 5vw;
    }
    #CenterTheButton{
        display: none;
    }
    
    
}

