#banner{
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}


#ProfilePic{
    bottom: -10vh;
    right: 7vw;
    position: absolute;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#ProfilePic P{
    bottom: -8vh;
    position: absolute;
}
#everything{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #aac144;
    margin-top: 15%;
    height: 18vh;

}
#LeftSide{
    width: 42%;
    margin-top: -15vh;
    margin-left: 3vw;
}
#RightSide{
    width: 58%;
    margin-top: -7vh;
}

#imageFood{
    height: 35vw;
    width: 35vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3vw;
}
.title{
    font-weight: bold;
    color: #59642f;
    font-size: 2vw;
}
#LeftSide #ingredients .title{
    margin-top: 5vh;
}
#LeftSide #ingredients h6{
    margin-left: 28.5vw;
    font-weight: bold;
    font-size: 1.3vw;
}
.ingredient{
    display: flex;
    width: 35vw;
    align-items: flex-start;
    justify-content: space-between;
}
.ingredient .TheIngredient{
font-size: 1.3vw;
 width: 27vw;
 background-color: #ffffff;
 box-shadow: 0vw 1vw 2vw 0vw #7c7c7c1e;
 border-radius: 0.5vw;
padding: 0.5vh 1vw;
}
.ingredient .TheAmount{
    font-size: 1.3vw;
    width: 7vw;
    background-color: #ffffff;
    box-shadow: 0vw 2vw 2vw 0vw #7c7c7c18;
    padding: 0.5vh 0.5vw;
    border-radius: 0.5vw;
}
#everything h4{
    font-weight: bold;
}
#icons{
    margin-top: -4vh;
    margin-left: -4vw;
    display: flex;
    height: 8vh;
}

#allergie{
width: 4vw;
}
#titleDescription{
  margin-top: 5vh;
  margin-left: -2vw;
  display: flex;

}
#titleDescription h2{
    text-align: end;
    font-weight: bold;
    font-size: 2.5vw;
    color: #ffffff;
    padding-right: 1vw;
    border-right: 2px solid #ffffff;
    width: 33vw;
}
#titleDescription p{
    color: #ffffff;
    margin-left: 1vw;
    font-size: 1vw;
    width: 18vw;
}
#steps .title{
    margin-top: 8%;
    margin-left: -1vw;
}
.divRecipeSteps{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 3vh;
    margin-bottom: -2.1vw;
    margin-left: -1vw;
}
.RecipeSteps{
    width: 95%;
    font-size: 1.2vw;
    text-align: justify;
}
#viewMoreSteps{
    margin-top: -2vh;
    width: 47vw;
    border:none;
    border-radius:  0vw 0vw 0.5vw 0.5vw;;
    background: linear-gradient(to bottom, rgba(182, 201, 94, 0),rgba(181, 201, 94, 0.534));
    padding:0.5vw;
    font-weight: bold;
    font-size: 1.4vw;
    
}
#theComments{
    margin: 5vh 0vw;
    width: 47vw;
    height: 30vh;
    background-color:#aac144d8;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#theComments p{
    padding:1vw;

}

#TheInput{
    box-shadow: 0vw -3vw 2vw 0vw #6b6b6b27;
    display: flex;
    justify-content: space-between;
    border-radius: 0vw 0vw 1vh 1vw;
    background-color: #d7e05cb0;
    padding:0.8vw;
}
#TheInput input{
width: 38vw;
border: none;
padding: 1vh 0.5vw;
margin-left: 0.5vw;
border-radius: 0.5vw;

}
#TheInput button{
    margin-right: 0.5vw;
    width: 6vw;
    border: none;
    border-radius: 1vw;
}
#userComment{
    display: flex;
    margin: 2vw;
    border-bottom: 1px solid #ffffff;
}
#userComment #userPic{
    width: 5vw;
    height: 5vw;
    background-color: rgb(143, 141, 141);
    border-radius: 100%;
}

#theComment{
    display: flex;
    flex-direction:column ;
    height: 2vh;
}
#theComment h5{
    margin-bottom: 0vh;
    margin-left: 1vw;
    font-weight: bold;
    font-size: 1.8vw;
}
#theComment p{
   color: #ffffff;
   font-weight: lighter;
   padding-top: 0vw;
}